.full-book-container {
  max-width: 61rem;
  position: absolute;
  text-align: center;
  margin-top: max(12.2rem, 15vh);
  margin-bottom: 2vh;
}

embed {
  height: 92vh;
  min-width: 25rem;
  width: 36vw;
  margin-left: auto;
  left: 0;
  right: 0;
  overflow-x: hidden;



}