.full-book-container {
  /* width: 100%; */
  /* width: 100vw; */
  max-width: 61rem;
  position: absolute;
/* margin-left: auto; */
/* margin-right: auto; */
/* left: 0; */
/* right: 0; */
text-align: center;
/* overflow-x: hidden; */
margin-top: max(12.2rem, 15vh);
margin-bottom: 2vh;
}

embed {
  height: 92vh;
  min-width: 25rem;
  width: 36vw;
  /* width:75.34%; */
  /* max-width: 77vw; */
  /* position: absolute; */
margin-left: auto;
/* margin-right: auto; */
left: 0;
right: 0;
/* text-align: center; */
overflow-x: hidden;



}

