
.search-bar-container {
 /* width: 55% */
 display: block;
 position: absolute;
 top: 6%;
 left: 0;
}

.search-button {
  height: 100%;
  margin: 0;
  padding: 0;
  height:4vh;
  width: 7vw;
  font-size: 2vh;
  height: 6vh;
  /* width: 100%; */
  max-width: 41%;
  font-size: 20%;
}


input {
  height: 6vh;
  /* width: 100%; */
  max-width: 61%;
  font-size: 100%;
}