.search-button {
  height: 100%;
  margin: 0;
  padding: 0;
  height:4rem;
  width: 7rem;
  font-size: 1rem;
}

.search-bar-container {
  /* margin: 2em; */
 
}

input {
  height: 4rem;
  width: 12rem;
  font-size: 1rem;
}