* {
  border: rgb(26, 138, 138) solid 1px;

}
main {
  display:flex;
 justify-content: center;
  min-width: 320px;
  background-color: #e9dfcc; 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

 

}
