
 nav {
  /* display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 55%;
  margin: auto;
  /* margin-bottom: 1rem; */
  min-height: 8rem;
  min-width: 24rem;
  max-height: 22vh;
  margin-top: .51rem;
  margin-bottom: 3.92vh;
  position: relative;
box-shadow: inset .3vh .93vh .952vh .931vh rgba(0,0,0,0.16), 0 .3vh .3vh 1.2vh rgba(0,0,0,0.45);
border-radius: 1.92rem;
/* overflow-x: hidden; */

} 

 .button-top-books {
  /* display: block;
  /* position: absolute; */
  /* top: 3; */
  min-height: 2.5rem;
  bottom: 0;
  right: 0;
  /* min-height: 3rem; */
 min-width: 10rem;
  position: absolute;
  /* margin-left: 3vw; */
  /* width: 15vw; */
  height: 5vh;
  border-radius: 2rem;
  border: none;
  margin-bottom: .41rem;
margin-right: .52rem;
width: 9.9vw;

  /* width:22vw; */
  /* min-width: 13.8rem; */
box-shadow: inset 0 .2rem .4rem rgba(0,0,0,0.16), 0 .3rem .4rem rgba(0,0,0,0.45);

  

}


h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* left: 45%; */
  top: 0;
  margin-top: .43vh;
  width: 17vw;
  min-height: 2.5rem;
  min-width: 19rem;
  height: 4.3vh;
  min-height: 2.4rem;
  background: white;
  border-radius: 5rem;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 3vh; */
  /* position: absolute; */
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
font-size: min(2rem, 4vh);
/* width:150px; */
/* height:300px; */
box-shadow: inset 0 .2rem .4rem rgba(0,0,0,0.16), 0 .3rem .4rem rgba(0,0,0,0.45);
/* border-radius: 10px; */
border: black solid 1px;
  /* font-weight: lighter; */
  /* letter-spacing: 2px; */
  /* transition: 1s box-shadow; */
}
/* 
h1:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

h1:hover::before,
h1:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 50px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

h1:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
} */