
 nav {
  /* display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 55%;
  margin: auto;
  /* margin-bottom: 1rem; */
  min-height: 15vh;
  min-width: 24rem;
  max-height: 12rem;
  /* margin-top: 1rem; */
  position: relative;
  
  padding: 0;

} 



 

 .button-top-books {
  /* display: block;
  /* position: absolute; */
  /* top: 3; */
  min-height: 2.5rem;
  bottom: 0;
  right: 0;
  /* min-height: 3rem; */
 min-width: 10rem;
  position: absolute;
  /* margin-left: 3vw; */
  /* width: 15vw; */
  height: 5vh;
  border-radius: 2rem;
  /* width:22vw; */
  /* min-width: 13.8rem; */

}


h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* left: 45%; */
  top: 0;
  margin: .3vh;
  width: 16rem;
  height: 3rem;
  background: white;
  border-radius: 5rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 3vh;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  /* font-weight: lighter; */
  /* letter-spacing: 2px; */
  /* transition: 1s box-shadow; */
}

h1:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

h1:hover::before,
h1:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 50px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

h1:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}