.search-results-container  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 4rem; */
  margin-top: 6rem;
  /* position: absolute; */
}