html {
  margin: 0;
  padding: 0;
  min-width: 350px;
  width: 100%;
  background-color: #e9dfcc; 
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  background-color: #e9dfcc; 
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


